# Byte-compiled / optimized / DLL files
*.py[cod]

# virtualenv
venv/
ENV/
flask/

# Idea config
.idea/

# Temporary files
tmp/*.log

# Testing DB
test.db

# Search Full Text
search.db/

# Translate files
*.mo

