{% extends "base.html" %}
{% block content %}
    <h1>{{ _('Hi, %(nickname)s!', nickname = g.user.nickname) }}</h1>
    {% include 'flash.html' %}

    <div class="well">

        <form class="form-horizontal" action="" method="post" name="post">
            {{ form.hidden_tag() }}

            <div class="form-group {% if form.errors.post %} error{% endif %}">
		    <label class="col-sm-2 control-label" for="post">{{ _('Say something:') }}</label>
                <div class="col-sm-4">
                    {{ form.post(size = 30, maxlength = 140, class = "form-control") }}
                    {% for error in form.errors.post %}
                        <span class="help-inline">[{{error}}]</span><br>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
		    <button type="submit" class="btn btn-default">{{ _('Post!') }}</button>
                </div>
            </div>
        </form>
    </div>

    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination">

            <li class="{% if not posts.has_prev %} disabled {%  endif %}">
                {% if posts.has_prev %}
                <a href="{{ url_for('index', page=posts.prev_num) }}" aria-label="Previous">
		    <span aria-hidden="true">&laquo; {{ _('Newer posts') }}</span>
                </a>
                {% else %}
                <a href="#" aria-label="Previous">
		    <span aria-hidden="true">&laquo; {{ _('Newer posts') }}</span>
                </a>
                {% endif %}
            </li>

            <li class="{% if not posts.has_next %} disabled {%  endif %}">
                {% if posts.has_next %}
                <a href="{{ url_for('index', page = posts.next_num) }}" aria-label="Next">
		    <span aria-hidden="true">&raquo; {{ _('Older posts') }}</span>
                </a>
                {% else %}
                <a href="#" aria-label="Next">
		    <span aria-hidden="true">&raquo; {{ _('Older posts') }}</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}
